$primaryColor: #1ac8ed;
$secondaryColor: white;
$fontColor: #293242;
$accentColor: #22223b;

$defaultFont: 'Lato', sans-serif;
$normalWeight: 300;
$boldWeight: 700;

$gutter: 2%;
$gutterdbl: (2*$gutter);