h1, h2 {
    color: black;
}
header, footer, main {
    position: relative;
}
header {
    flex-basis: 30%;
    padding: 0;
}
#hamKnapp {
    background-color: darkslategrey;
}
main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}