.a {
    position: absolute;
    top: 1rem;
    border: none;
    border-radius: 2%;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 1rem;
}
.a:hover {
    color: white;
    transition: .5s ease;
}
#skineser {
    left: .5rem;
    background-color: lightblue;
}
#skineser:hover {
    background-color: blue;
}
#forrige {
    left: 7.5rem;
    background-color: orange;
}
#forrige:hover {
    background-color: darkorange;
}
#neste {
    right: 1rem;
    background-color: lightgreen;
}
#neste:hover {
    background-color: green;
}