:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-serif-1: 'Playfair Display', serif;
  --heading-font-serif-2: 'Lora', serif;

  /* colors */
  --dark-primary-color: #0288D1;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4;
  --accent-color: #FF9800;
  --text-icons-white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;

  --red: #E85454;
  --yellow-lighter: #FCECA4;
  --blue: #90C3D4;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --almost-black: #282828;

  /* sizes */
  --space: 1rem;

  /* font-weights */
  --light: 300;
  --medium: 600;
  --heavy: 900;

  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;

  /* box-shadows */
  --smooth-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  background: var(--almost-white);
}

h1 {
  margin-top: calc(var(--space)*4);
  font-family: var(--heading-font-serif-2);
  font-size: 8vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--text-icons-white);
}

h2 {
  margin-top: calc(var(--space)*10);
  font-family: var(--heading-font-serif-2);
  font-size: 2vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

h3 {
  margin-top: calc(var(--space)*10);
  font-family: var(--heading-font-serif-2);
  font-size: 1.7vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--dark-primary-color);
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  text-transform: uppercase;
}

nav {
  width: 100%;
  padding: 1rem 0 1rem;
  position: fixed;
  z-index: 10000;
  background: transparent;
  transition: var(--smooth);
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 1.2vw;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--almost-white);
  list-style-type: none;
  transition: var(--smooth);
}

nav ul li {
  flex: 1 1 auto; /* grow shrink basis */
  padding: 1.5rem 0 1.5rem 0;
  background: transparent;
}

nav ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
}

nav ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

nav ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: var(--almost-white);
  transition: var(--smooth);
}

nav li a:hover {
  color: var(--dark-primary-color);
}

nav ul li a img {
  width: 1.5rem;
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
}

header {
  width: 100%;
  height: 95rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: no-repeat center/100% url("../bilder/indexbanner.jpg");
  filter: contrast(1.2);
  background-size: cover;
}

header > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

header > div p {
  margin-top: calc(var(--space)*2);
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--text-icons-white);
}

header > div img {
  width: 4vw;
  margin-top: calc(var(--space)*6);
}

main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(12, 1fr);
  grid-gap: 1rem;
  max-width: 75vw;
  height: auto;
  margin: 1rem auto;
  padding-top: calc(var(--space)*25);
  font-size: 6vw;
}

article {
  display: grid;
  grid-area: span 3 / span 12;
  grid-template: auto 2fr auto / repeat(12, 1fr);
  background: transparent;
}

footer {
  padding: calc(var(--space)*6);
  margin-top: 30rem;
  background: var(--gray-lighter);
}

footer p {
  padding: calc(var(--space)*0);
  font-family: var(--main-font-family);
  font-size: 0.7vw;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--secondary-text);
}

footer img {
  width: 2.5rem;
  margin-bottom: calc(var(--space)*2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}










.bakgrunn {
    background: no-repeat center/100% url("../bilder/bakgrunnbanner.jpg");
    filter: contrast(1.2);
    background-size: cover;
}

.natid {
    background: no-repeat center/100% url("../bilder/natid.jpg");
    background-size: cover;
}

.fremtid {
  background: no-repeat center/100% url("../bilder/fremtidbanner.jpg");
  filter: contrast(1.2);
  background-size: cover;
}

.kilder {
  background: no-repeat center/100% url("../bilder/referanserbanner.jpg");
  filter: contrast(1.2);
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.indexCard {
  margin-bottom: calc(var(--space)*10);
  transition: var(--smooth);
}

.indexCard a {
  transition: var(--smooth);
}

.scroll {
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.scroll a {
  color: var(--gray-darker);
}

.filler {
  padding-top:  calc(var(--space)*0);
}

.contentArticle {
  padding-top:  calc(var(--space)*0)
}

.intro {
  padding: 2rem;
  text-align: center;
}

.quickInfo {
  grid-area: span 1 / span 12;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: transparent;
  padding: 2rem;
}

.quickInfoIntro {
  font-family: var(--main-font-family);
  font-size: 0.7vw;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--primary-text);
}

.quickInfoIntro::first-letter {
  text-transform: uppercase;
}

.boxes {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(5, 1fr);
  width: 70%;
  min-height: 2rem;
  margin-top: calc(var(--space)*6);
  background: transparent;
}

.boxes a {
  display: block;
  transition: var(--smooth);
}

.boxes a:hover {
  opacity: 0.5;
}

.box {
  grid-area: span 1 / span 1;
  background: transparent;
  text-align: center;
}

.box img {
  width: 30%;
}

.adjImg {
  margin-top: calc(var(--space)*2);
  filter: grayscale(1);
}

/* W3Schools:
https://www.w3schools.com/howto/howto_css_tooltip.asp
*/
/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 20rem;
   background-color: var(--gray-lighter);
   color: var(--almost-black);
   text-align: center;
   padding: 0.5rem;
   border-radius: 0.6rem;

   /* Position the tooltip text */
   position: absolute;
   z-index: 1;
   top: 125%;
   left: 50%;
   margin-left: -10rem;

   /* Fade in tooltip */
   opacity: 0;
   transition: var(--smooth);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
   font-family: var(--main-font-family);
   font-size: 0.7vw;
   font-weight: normal;
   text-transform: none;
   text-decoration: none;
   letter-spacing: 0.07rem;
   color: var(--almost-black);
}

.tldr {
  grid-area: span 1 / span 12;
  min-height: 2rem;
  margin-top: calc(var(--space)*4);
  padding:  calc(var(--space)*6);
  background: transparent;
}

.tldr p {
  margin-top: calc(var(--space)*2);
  padding:  0
            calc(var(--space)*6)
            0
            calc(var(--space)*6);
  font-family: var(--main-font-family);
  font-size: 1.4vw;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--primary-text);
}

.ref {
  grid-area: span 1 / span 12;
  min-height: 2rem;
  margin-top: calc(var(--space)*4);
  padding:  calc(var(--space)*6);
  background: transparent;
}

.ref ul {
  width: 50vw;
  margin: calc(var(--space)*2)
          auto
          0
          auto;
  background: transparent;
  font-family: var(--main-font-family);
  font-size: 1.4vw;
  font-weight: normal;
  text-align: justify;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.07rem;
  line-height: 2;
  color: var(--primary-text);
}

.ref ul li a {
  font-size: inherit;
  font-style: italic;
  text-decoration: underline;
  color: inherit;
}


.content {
  grid-area: span 1 / span 12;
  min-height: 2rem;
  margin-top: calc(var(--space)*4);
  padding:  calc(var(--space)*6);
  background: transparent;
}

.content p {
  margin-top: calc(var(--space)*2);
  padding:  0
            calc(var(--space)*6)
            0
            calc(var(--space)*6);
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--primary-text);
}

.content p a {
  font-size: inherit;
  text-decoration: none;
  color: var(--accent-color);
  transition: var(--smooth);
}

.content p a:hover {
  opacity: 0.7;
}

.content p i {
  font-size: inherit;
}

.content p span {
  font-size: inherit;
  color: var(--secondary-text);
}

.divide {
  padding-top: calc(var(--space)*10);
}

.brooks { /* https://codepen.io/frxnz/pen/IvBCr */
  margin: calc(var(--space)*10)
          0
          calc(var(--space)*10)
          0;
  position: relative;
  font-family: var(--main-font-family);
  font-size: 2vw;
  font-style: italic;
}

.brooks:before {
  content: '\201C';
  position: absolute;
  top: -4rem;
  left: -0.15em;
  color: #e7e6e4;
  font-size: 10rem;
  z-index: -1;
}

.next {
  margin-top: 0;
  text-align: center;
}

.next a {
  display: block;
  width: 20%;
  margin: 0 auto;
  padding: var(--space);
  border: 0.1rem solid var(--primary-color);
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: inherit;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: var(--primary-color);
  transition: var(--smooth);
}

.next a:hover {
  opacity: 0.5;
}

.intros {
  margin-top: 10px;
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: normal;
  text-align: justify;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.01vw;
  color: var(--primary-text);
}

.intros i {
  font-size: inherit;
}

main div a img {
  width: 100%;
}












#img1 {
  grid-column: 3/6;
  grid-row: 1/2;
}

#txt1 {
  grid-column: 8/11;
  grid-row: 1/2;
}

#img2 {
  grid-column: 8/11;
  grid-row: 2/3;
}

#txt2 {
  grid-column: 3/6;
  grid-row: 2/3;
}

#img3 {
  grid-column: 3/6;
  grid-row: 3/4;
}

#txt3 {
  grid-column: 8/11;
  grid-row: 3/4;
}









@media (min-width: 80rem) {
  .group {
    display: none;
  }
}



@media (max-width: 80rem) {


#img1 {
  grid-column: 1/7;
  grid-row: 1/2;
}

#txt1 {
  grid-column: 7/13;
  grid-row: 1/2;
}

#img2 {
  grid-column: 7/13;
  grid-row: 2/3;
}

#txt2 {
  grid-column: 1/7;
  grid-row: 2/3;
}

#img3 {
  grid-column: 1/7;
  grid-row: 3/4;
}

#txt3 {
  grid-column: 7/12;
  grid-row: 3/4;
}
.intro {
  font-size: 3vw;
}

.intros {
    font-size: 2vw;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}

nav {
  display: none;
}

.scroll {
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.scroll a {
  color: var(--gray-darker);
}

header {
  height: 50rem;
}

footer p {
  font-size: 2vw;
}

footer {
  margin-top: 20vw;
  padding: 4rem;
}

main div a img {
    width: 100%
}

main div a {
    width: 100%
}

article {
  width: 100%;
}

.tldr {
  width: 100%;
  margin: 0;
  padding: 0;
}

.tldr p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.quickInfo {
  display: none;
}

.content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.brooks {
  font-size: 6vw;
}

#video {
  display: none;
}

.next a {
  width: 50%;
  font-size: 4vw;
}

/* hamburger start */
.group {
  width: 100%;
  margin-left: 0;
  position: fixed;
  z-index: 10000;
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.navheader {
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--main-font-family);
  font-size: 4vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.navigation {
  max-width: none;
  background: var(--almost-white);
  margin-left: -1.5rem;
  padding: 0;
}

.navigation ul {
  list-style-type: none;
  font-family: var(--main-font-family);
}

.navigation li {
  float: left;
  list-style-type: none;
  font-family: var(--main-font-family);
  font-size: 5vw;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  transition: var(--smooth);
}

.navigation li a {
  display: block;
  width: 100%;
  color: var(--primary-text);
  padding: 1rem;
  transition: var(--smooth);
}

.navigation li a:hover {
  background: var(--gray-lighter);
}

.slide-trigger {
  width: 100%;
  display: none; /* need this */
  cursor: pointer;
}

.slide-trigger span {
  background-image: url("/a/i/dropdown-arrows.png");
  background-position: 0 -14px;
  display: block;
  float: right;
  margin-top: 3px;
  height: 14px;
  width: 32px;
}

.slide-trigger { display: block; }
.no-js .slide-trigger { display: none; }
.navigation { display: none; }
.no-js .navigation { display: block; }
.navigation { margin: 0 15px; }
.navigation li { float: none; }
.navigation li a { border-bottom: 1px solid #fff; }
/* hamburger end */

.ref ul li {
  font-size: 2vw;
  text-align: left;
}

h3 {
  font-size: 3vw;
}


}











@media (max-width: 50rem) {


#img1 {
  grid-column: 1/13;
  grid-row: 1/2;
}

#txt1 {
  grid-column: 1/13;
  grid-row: 2/3;
}

#img2 {
  grid-column: 1/13;
  grid-row: 3/4;
}

#txt2 {
  grid-column: 1/13;
  grid-row: 4/5;
}

#img3 {
  grid-column: 1/13;
  grid-row: 5/6;
}

#txt3 {
  grid-column: 1/13;
  grid-row: 6/7;
}

.intro {
  font-size: 3vw;
}

.intros {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 30px;
}

nav {
  display: none;
}

.scroll {
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.scroll a {
  color: var(--gray-darker);
}

header {
  height: 50rem;
}

footer p {
  font-size: 3vw;
}

footer {
  margin-top: 20vw;
  padding: 4rem;
}

main div a img {
    width: 100%
}

main div a {
    width: 100%
}

article {
  width: 100%;
}

.tldr {
  width: 100%;
  margin: 0;
  padding: 0;
}

.tldr p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.quickInfo {
  display: none;
}

.content {
  width: 100%;
  margin: 4rem 0 0 0;
  padding: 0;
}

.content p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.brooks {
  font-size: 6vw;
}

#video {
  display: none;
}

.next a {
  width: 50%;
  font-size: 4vw;
}

h2 {
  font-size:  6vw;
}

/* hamburger start */
.group {
  width: 100%;
  margin-left: 0;
  position: fixed;
  z-index: 10000;
  background: var(--almost-white);
  box-shadow: var(--smooth-shadow);
}

.navheader {
  margin: 0 auto;
  padding: 1rem;
  font-family: var(--main-font-family);
  font-size: 4vw;
  font-weight: var(--light);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: var(--primary-color);
}

.navigation {
  max-width: none;
  background: var(--almost-white);
  margin-left: -1.5rem;
  padding: 0;
}

.navigation ul {
  list-style-type: none;
  font-family: var(--main-font-family);
}

.navigation li {
  float: left;
  list-style-type: none;
  font-family: var(--main-font-family);
  font-size: 5vw;
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  transition: var(--smooth);
}

.navigation li a {
  display: block;
  width: 100%;
  color: var(--primary-text);
  padding: 1rem;
  transition: var(--smooth);
}

.navigation li a:hover {
  background: var(--gray-lighter);
}

.slide-trigger {
  width: 100%;
  display: none; /* need this */
  cursor: pointer;
}

.slide-trigger { display: block; }
.no-js .slide-trigger { display: none; }
.navigation { display: none; }
.no-js .navigation { display: block; }
.navigation { margin: 0 0; }
.navigation li { float: none; }
.navigation li a { border-bottom: 1px solid #fff; }
/* hamburger end */

.ref ul li {
  font-size: 3vw;
  text-align: left;
}

h3 {
  font-size: 4vw;
}


}








.clickmeimg a, .clickmetxt a p {
  transition: var(--smooth);
}

.clickmeimg a:hover {
    opacity: 0.8;
}

.clickmetxt a:hover p {
    opacity: 0.5;
}
